@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Primary text colors */
/* Primary background gradient */
/* Neutral text colors*/
/* Neutral dividers */
/* Font family */
:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}

html #img-box-desk, body #img-box-desk {
  display: none;
}

#card {
  background-color: white;
  z-index: 2;
  height: 100%;
  min-height: 540px;
  width: 100%;
  min-width: 275px;
  max-width: 320px;
  margin: 115px 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0 60px 60px -60px;
          box-shadow: 0 60px 60px -60px;
}

#card #img-woman-mobile {
  position: absolute;
  width: 260px;
  top: -108px;
  left: 20px;
  z-index: 3;
}

#card #img-shadow-mobile {
  position: absolute;
  width: 235px;
  top: 0;
  left: 45px;
  z-index: 2;
}

#card #img-shadow-desk, #card #img-woman-desk {
  display: none;
}

#card #card-faq {
  height: 100%;
  min-height: inherit;
  width: 100%;
  min-width: inherit;
  max-width: inherit;
  padding: 0 25px;
}

#card #card-faq h1 {
  text-align: center;
  font-size: 2.6em;
  color: #1d1e35;
  margin-top: 145px;
  margin-bottom: 35px;
}

#card #card-faq hr {
  border: 1px solid #e7e7e9;
}

#card #card-faq .accordion {
  /* Used input checkbox, labels and checked selector to make collapsable text without javascript */
}

#card #card-faq .accordion > input[name="collapse"] {
  display: none;
}

#card #card-faq .accordion > input[name="collapse"]:checked ~ .faq-question label {
  font-weight: bolder;
  color: #1d1e35;
}

#card #card-faq .accordion > input[name="collapse"]:checked ~ .faq-question label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#card #card-faq .accordion > input[name="collapse"]:checked ~ .faq-answer {
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 1.8em;
}

#card #card-faq .accordion .faq-question {
  color: #4a4b5e;
  position: relative;
  margin: 1.5em 0;
  font-weight: 400;
}

#card #card-faq .accordion .faq-question label {
  cursor: pointer;
}

#card #card-faq .accordion .faq-question label:hover {
  color: #f47c57;
}

#card #card-faq .accordion .faq-question label::after {
  content: url(images/icon-arrow-down.svg);
  position: absolute;
  right: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#card #card-faq .accordion .faq-answer {
  color: #787887;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1.4em;
}

@media screen and (min-width: 1000px) {
  html, body {
    width: 100vw;
  }
  html #img-box-wrap, body #img-box-wrap {
    position: relative;
  }
  html #img-box-wrap #img-box-desk, body #img-box-wrap #img-box-desk {
    left: -540px;
    top: 265px;
    z-index: 4;
    display: block;
    position: absolute;
  }
  #card {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 930px;
    margin-left: 60px;
    margin-top: 60px;
    min-height: 500px;
  }
  #card #img-woman-mobile, #card #img-shadow-mobile {
    display: none;
  }
  #card #img-shadow-desk, #card #img-woman-desk {
    display: block;
    position: absolute;
  }
  #card #img-shadow-desk {
    left: -580px;
    bottom: -150px;
    z-index: 2;
  }
  #card #img-woman-desk {
    left: -80px;
    top: 70px;
    z-index: 3;
  }
  #card #card-faq {
    margin-right: 100px;
    text-align: left;
    max-width: 40%;
  }
  #card #card-faq .faq-question {
    font-size: 1.1em;
  }
  #card #card-faq h1 {
    text-align: left;
    margin-top: 70px;
  }
}
/*# sourceMappingURL=index.css.map */